@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');

.rubik {
  font-family: "Rubik Vinyl", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-reg {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-ita {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.zoom:hover{
  scale: 1.05;
}

body{
  margin: 0;
  padding: 10px;
  background-color: #7C444F;
  color: #e8ab7f;
}

body:link{
  color: #4e2830
}

a:link{
  color: #ffe3d1
  
}

a:link:hover{
  color: #fd9356
}

.loading{
  display: flex;
  justify-content: center;
}

.loading img{
  filter: invert(100%);
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: auto;
  width: 5%;
  filter: brightness(0) saturate(100%) invert(97%) sepia(60%) saturate(4498%) hue-rotate(302deg) brightness(100%) contrast(82%);
  margin-bottom: 20px;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.heading{
  display: flex;
  justify-content: center;
}

.heading h1{

  padding: 10px;
}

.mainContainer{
  padding: 0px 20% 0px 20%;
}

.submitForm{
  display: flex;
  justify-content: center;
  border-top: 2px solid #7C444F;
}

.sendMsg{
  margin: auto;
  margin-left: 5px;
  font-weight: 600;
}

.submitFormInner{
  padding: 10px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.submitFormInner input{
  border: none;
  padding: 20px;
  width: 50vw;
  background-color: #64343e;
  color: #d6bca9;
  outline: none;
}

.submitFormInner input:hover{
  background-color: #552b34;
}

.submitFormInner input:focus{
  background-color: #552b34;
}

.submitFormInner input::placeholder{
  color: #d6bca9b9;
}

.submitFormInner button{
  width: 50px;
  border: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #3b1920;
  color: #d6bca9;
  outline: none;
}

.submitFormInner button:hover{
  background-color: #3d1820;
}

.submitFormInner button:focus{
  background-color: #552b34;
}

.responseBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #4e2830;
}

.hidden{
  display: none;
}

@media (max-width: 700px){
  .mainContainer{
    padding: 5px;
  }
  .submitFormInner input{
    width: 80.5vw
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.fade-in-response {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.animated{
  transition: 0.1s;
}

.rounded{
  border-radius: 10px;
}

.chatContainer{
  background-color: #4e2830;
}